html {
  --body-color: #ADD8E6;

  --header-color: white;

  --sunday-color: red;

  --header-button: #0d811d;

  --color-weekdays: #696969;

  --box-shadow: #cbd4c2;

  --hover: #58bae4;

  --current-day: #49a6e9;

  --event-color: #58bae4;

  --modal-event: #e8f4fa;

  --color-day: white;
}

:root{
  --ff-secondary: "Open Sans", sans-serif;
}

body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: var(--body-color);
  font-family: var(--ff-secondary);
}
button {
  background-color: #49a6e9;
  color: white;
  border: none;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}

button:hover {
  background-color: hsl(205, 89%, 70%);
}

#header {
  padding: 10px;
  color: var(--header-color);
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}

#container {
  width: 770px;
}
#weekdays {
  width: 100%;
  display: flex;
  color: var(--color-weekdays);
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#colorSunday{
  color: var(--sunday-color);
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: var(--color-day);
  margin: 5px;
  box-shadow: 0px 0px 3px var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15%;
}
.day:hover {
  background-color: var(--hover);
}

.day + #currentDay {
  background-color: var(--current-day);
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: var(--event-color);
  color: black;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: var(--body-color) !important;
  box-shadow: none !important;
}
#newEventModal,
#deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: var(--modal-event);
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#date1 {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#date2 {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#cancelButton,
#deleteButton {
  background-color: red;
}
#saveButton{
  background-color: #0d811d;
}
#closeButton {
  background-color: #49a6e9;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #010101;
    color: black;
  }
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  /* background-color: #d3d3d3 */
  color: gray;
  width: 100%;
  height: 25px;    
  text-align: center;
  line-height: 25px;
}